<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
  </head>

  <body>
    <div class="container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>

      <div class="landing-header">
        <h1 data-cy="landing-header">Welcome to YelpCamp!</h1>
        <a href="/campgrounds" class="btn btn-lg btn-success" data-cy="link-to-campgrounds">View All Campgrounds</a>
          <form action="/campgrounds" method="GET" class="form-inline landing-form">
            <div class="form-group">
              <input type="text" name="search" placeholder="Campground search..." class="form-control" data-cy="search">
              <input type="submit" value="Search" class="btn btn-secondary" data-cy="submit">
            </div>
          </form>
      </div>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <%- include("./partials/footer") %>
  </body>
</html>
