<%- include("./partials/header") %>

<div class="container">
    <div class="row">
    <div class="col">
        <h1 class="form-heading">Sign Up</h1>
        <div calss="form-label">
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username-input">Username</label>
                    <input class='form-control' type="text" name="username" id="username-input">
                </div>
                <div class="form-group">
                    <label for="password-input">Password</label>
                    <input class='form-control' type="password" name="password" id="password-input">
                </div>
                <div class="form-group">
                    <button type="submit" class='btn btn-primary btn-block'>Sign Up!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
</div>

<%- include("./partials/footer") %>