<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center; margin-top: 30px;">
        Create a new Campground
      </h1>
      <div style="width: 30%; margin: 30px auto;">
        <form action="/campgrounds" , method="POST">
          <div class="form-group">
            <label for="name-input">Name</label>
            <input
              class="form-control"
              type="text"
              name="name"
              id="name-input"
              required
            />
          </div>
          <div class="form-group">
            <label for="name-input">Price $</label>
            <input
              class="form-control"
              type="number"
              name="price"
              min="0.01"
              step="0.01"
              id="price-input"
              required
            />
          </div>
          <div class="form-group">
            <label for="name-input">Image URL</label>
            <input
              class="form-control"
              type="text"
              name="image"
              id="image-input"
              required
            />
          </div>
          <div class="form-group">
            <label for="name-input">Description</label>
            <textarea
              class="form-control"
              type="text"
              name="description"
              id="description-input"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block">Submit</button>
          </div>
        </form>
        <a href="/campgrounds">Go back</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
