.container {
  margin-top: 1em;
}

.card {
  width: auto;
}

.comments-card {
  margin-top: 1em;
}

#delete-form {
  display: inline;
}

.form-heading {
  text-align: center;
  margin-top: 30px;
}

.form {
  width: 30%;
  margin: 30px auto;
}

.email-label {
  font-weight: bold;
  margin-right: 8px;
}

.campgrounds-container {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .campgrounds-container {
    margin-top: 0;
  }
}

.card-img-top {
  width: 100%;
}

.image-card {
  margin-bottom: 30px;
  text-align: center;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.profile-heading {
  display: inline-block;
  margin-right: 15px;
}

.heading-container {
  align-items: baseline;
  display: flex;
}
