.container {
  margin: 1em auto;
}

.card {
  width: auto;
}

.reviews-card {
  margin-top: 20px;
}

.reviews-link {
  margin-left: 5px;
}

.reviews-hr {
  margin-top: 0;
}

#delete-form {
  display: inline;
}

.checked {
  color: orange;
}

.form-heading {
  text-align: center;
  margin-top: 30px;
}

.form {
  width: 30%;
  margin: 30px auto;
}

.email-label {
  font-weight: bold;
  margin-right: 8px;
}

.campgrounds-container {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .campgrounds-container {
    margin-top: 0;
  }
}

.card-img-top {
  width: 100%;
}

.image-card {
  margin-bottom: 30px;
  text-align: center;
}

.search-form {
  margin-left: 1.5rem;
}

.profile-heading {
  display: inline-block;
  margin-right: 15px;
}

.heading-container {
  align-items: baseline;
  display: flex;
}

.navs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rating-selection-label {
  font-size: 1.3em;
}

.review-text {
  text-align: justify;
  word-wrap: break-word;
}

.reviews-back-link-container {
  margin-top: 10px;
}

.right-nav-container {
  display: flex;
  align-items: center;
}

.reviews-h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input:invalid,
textarea:invalid {
  border-color: #be1818;
}
