.container {
  margin-top: 1em;
}

.card {
  width: auto;
}

.comments-card {
  margin-top: 1em;
}

#delete-form {
  display: inline;
}

.form-heading {
  text-align: center;
  margin-top: 30px;
}

.form {
  width: 30%;
  margin: 30px auto;
}
